[submodule "React-MockTest-1a"]
	path = React-MockTest-1a
	url = https://github.com/seyoonPuvi/React-MockTest-1a.git
[submodule "React-MockTest-1b"]
	path = React-MockTest-1b
	url = https://github.com/seyoonPuvi/React-MockTest-1b.git
[submodule "React-MockTest-1c"]
	path = React-MockTest-1c
	url = https://github.com/seyoonPuvi/React-MockTest-1c.git
[submodule "React-MockTest-2a"]
	path = React-MockTest-2a
	url = https://github.com/seyoonPuvi/React-MockTest-2a.git
[submodule "React-MockTest-2b"]
	path = React-MockTest-2b
	url = https://github.com/seyoonPuvi/React-MockTest-2b.git
[submodule "React-MockTest-2c"]
	path = React-MockTest-2c
	url = https://github.com/seyoonPuvi/React-MockTest-2c.git
[submodule "React-MockTest-3a"]
	path = React-MockTest-3a
	url = https://github.com/seyoonPuvi/React-MockTest-3a.git
[submodule "React-MockTest-3b"]
	path = React-MockTest-3b
	url = https://github.com/seyoonPuvi/React-MockTest-3b.git
[submodule "React-MockTest-4a"]
	path = React-MockTest-4a
	url = https://github.com/seyoonPuvi/React-MockTest-4a.git
