[submodule "React-MockTest-1a"]
	path = React-MockTest-1a
	url = https://github.com/seyoonPuvi/React-MockTest-1a.git
[submodule "React-MockTest-1b"]
	path = React-MockTest-1b
	url = https://github.com/seyoonPuvi/React-MockTest-1b.git
[submodule "React-MockTest-1c"]
	path = React-MockTest-1c
	url = https://github.com/seyoonPuvi/React-MockTest-1c.git
